<template>
  <style>
    .nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .nav-list li {
      display: block;
      padding: 0;
      margin: 0;
      border: 0;
      position: relative;
    }
    .nav-list a {
      padding: 10px 15px;
      display: block;
    }
    .nav-list li ul {
      margin: 0;
      padding: 0;
      display: none;
    }
    .nav-list li.open ul {
      display: block;
    }
    .nav-list li ul a {
      padding-left: 2em;
      text-decoration: none;
    }
  </style>
  <ul class="nav nav-list">
    <li repeat.for="row of router.navigation" class.bind="row.isActive && 'open'">
      <!--<a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href.bind="row.href">${row.title}</a>-->
      <a href.bind="row.href">${row.title}</a>
      <ul class="sub-menu" if.bind="menu.widgets">
        <li repeat.for="submenu of menu.widgets">
          <a click.trigger="select({menu: {current: submenu, parent: menu}})">${submenu.title}</a>
        </li>
      </ul>
    </li>
  </ul>
</template>
